
<%= simple_form_for(@profile, html: {class: 'form-horizontal', multipart: true } ) do |f| %>

<div id="accordion">

  <h4> Basic Information </h4>
  <div>
  <p><%= f.input :first_name, label: "First Name:" %></p>
  <p><%= f.input :last_name, label: "Last Name:" %></p></br>
</div>

  <h4> Select Sport Played </h4>
  <div>
  <p><%= f.input :sport, collection: [ "Football", "Baseball", "Basketball", "Rugby Union", "Rugby Leagure", "MMA", "Boxing", "Wrestling", "Soccer", "Track&Field","Lacrosse", "Field Hockey", "Ice Hockey", "Golf", "Australian Rules Football"],:prompt => "Select a Sport",label: "Sport:" %></p>
  <p><%= f.input :team, label: "Team:" %></p>
  <p><%= f.input :position, label: "Position:" %></p></br>
</div>



<h4> Contact Information </h4>
<div>
  <p><%= f.input :address, label: "Address:" %></p>
  <p><%= f.input :city, label: "City:" %></p>
  <p><%= f.input :state, label: "State:" %></p></br>
  <p><%= f.label :country%> <%= f.country_select :country, :prompt => "Select a Country", :Country => ''%></p>
  <p><%= f.input :zip, label: "Zip Code:" %></p>
  <p><%= f.input :phone, label: "Phone Number:" %></p>
  <p><%= f.input :email, label: "Email Adress:" %></p></br>
</div>



<h4> Demographic Information </h4>
<div>

  <p><%= f.input :gender, collection: [ "Male", "Female"],:prompt => "Select Gender",label: "Gender:" %></p>
  <p><%= f.input :age, label: "Age:" %></p></br>
  <h4> Body Measurements </h4></br>
  <p><%= f.input :weight, label: "Weight (lbs):" %></p>
  <p><%= f.input :height, label: "Height (inches):" %></p>
  <p><%= f.input :waist, label: "Waist:" %></p>
  <p><%= f.input :neck, label: "Neck:" %></p>
  <p><%= f.input :hip, label: "Hip (Only Female):" %></p></br>
   <h4> Strength Measurements (Enter 1 Rep Max) </h4></br>
  <p><%= f.input :bench, label: "Bench:" %></p>
  <p><%= f.input :squat, label: "Squat:" %></p>
  <p><%= f.input :deadlift, label: "Deadlift:" %></p>
  <p><%= f.input :powerclean, label: "Power Clean:" %></p>
  <p><%= f.input :cleanpress, label: "Clean and Press:" %></p></br>
</div>

<h4> Athlete Biography </h4>
<div>
  <%= f.input :description, label: false, :as => :text, :input_html => { :cols => 10, :rows => 4, :style => 'width: 75%'} %></p>
  <h4>Upload Photo:</h4>
  <p class="instructions">(Max size 100x100)</p>
  <p><%= f.file_field :avatar %></p>



  <div class="actions">
    <%= f.submit %>
  </div>
</div>
</div>

<% end %>




