<h2>Top Athletes</h2>
<div class="row">
<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Name</th>
      <th>Sport</th>
    </tr>
  </thead>

  <tbody>
      <% @profiles.each do |profile| %>
      <tr>
        <td><%=link_to(profile) do %><%= image_tag profile.avatar.url(:thumb ) %></td>
        <% end %>
        <td><%=link_to(profile) do %><%= profile.first_name %></td>
        <% end %>
        <td><%=link_to(profile) do %><%= profile.sport %></td>
        <% end %>
      <% end %>

    </tr>
  </tbody>
</div>
</table>

<br>





